
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


:root{
    --color-huignanco:#75b418;
    --greenhover:greenyellow;
    --dark-300:#333;
    --dark-500:#272727;

}

::selection {
    color: white;
   background: rgba(83, 147, 35, 0.505); 
 }

body{
    background-color: var(--background-theme, white);
}

/* Mobile */
.ctn-dropdown{
    display: none;
}
/*  */


/* HEADER */
.header{
    position: fixed;
    z-index: 999;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 4.5em;
    
        background-color: var(--header-background,#ffffff);
    
        
}

.header img{
    margin-left: 20px;
    width: 240px;  /* ORIGINAL 160px */
}
/* NAV */

.nav{
    margin-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.ctn-bt-theme{

    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 10px;
    
}

.btn-theme{

border: none;
background: none;
font-weight: 600;
font-size: 12px;
padding: 0;


}

#light-theme-btn{
  color: white;
  padding: 5px 5px 5px 5px;
  background-color:  var(--background-lighttheme-btn,#75b418);
  border-top-left-radius:  8px;
  border-top-right-radius:  8px;
  margin-inline: 0px;
  text-align: center;

  
}

#dark-theme-btn{
    
   display: inline;
 color:  #272727;
 padding: 5px 5px 5px 5px;
 background-color:  var(--background-darktheme-btn,#d3d3d3);
 border-bottom-right-radius:  8px;
 border-bottom-left-radius:  8px;
}



.btn-nav{
   
    text-decoration: none;
    color:  var(--color-btn-nav,black);
    font-weight: 400;
    font-size: 17px;
    padding: 5px;
    transition: color 0.2s ease-in-out; 
    
}
.btn-nav:hover {
    color: rgb(117, 180, 24);
}




/* BANNER */
.banner{
    width: 100%;
        height: 85vh;
     display: flex;
     align-items: center;
    justify-content: right;
box-shadow: 0px 0.1px 1px black;

background-image: url(huighnanco/Banner.jpg);
background-size: cover;
background-position: center;
}

.content-banner{
    color: floralwhite;
        font-weight: 400;
    width: 450px;
    height: 170px;
    margin-bottom: 250px;
        margin-right:108px ;
        text-align: right; 
        font-style: italic;
    
}

.banner-titulo{
    color: floralwhite;
    margin-bottom: 5px;
    font-weight: 500;
    font-family: 'Poppins' , sans-serif;
    font-style: italic;
}

.btn-banner{
        
        padding: 1px 12px 1px 12px;
        color: floralwhite;
        margin-top: 10px;
        
        display: inline-block;
            text-decoration: none;
            font-weight: 600;
            border-radius: 8px ;
            transition: 0.2s;
            outline: 2px solid white;
           /*  outline-offset: 0px; */
}
.btn-banner:hover{
    border-color: rgb(149, 149, 0);
    color: rgb(155, 155, 0) ;
        background-color: rgb(255, 250, 240);
        outline-offset: 3px;
        
}
/* end Banner */



/* JOYAS DE HUIGNANCO */

#cnt-titulo-joyas{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-huignanco);
    margin: 20px  0px;
    height: 80px;
    flex-direction: column;
}


/* ImAGENES */

.ctn-joyas{
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
        gap: 30px;
     flex-wrap: wrap;
     flex-direction: grid;
     color:  var(--color-texto-joyas, #202020);
     margin-bottom: 50px;
    
        
}

.titulo-joyas{
    font-size: 30px;
 font-style: italic;
    font-weight: 700;
}

.bloque-joyas{
    border-radius: 10px;
     border: 1px solid var(--border-color--joyas, rgb(191, 191, 191)) ; 
    width: 400px;
    height: 550px;
    background-color:  var(--background-color-bloque-joyas,#ececec);
    transition: 0.3s ease-in-out;
    }
    

    .bloque-img-joyas{
        width:100%;
        object-fit: cover;
        border-radius: 8px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-bottom: 10px;
    }

    .ctn-altura-dificultad{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

.dificultad{
    font-weight: 700;
    border-radius: 5px;
    padding: 2px 6px 2px 6px;
    display: inline-block;
   
    color:  var(--color-dificultad,black);
}

#facil{
    background-color: rgb(101, 255, 101);
}
#media{
    background-color: rgb(255, 168, 62);
}
#dificil{
    background-color: rgb(255, 91, 91)
}



.altura{
    font-weight: 700;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    display: inline-block;
    background-color: rgb(124, 210, 218);
    color: black;

    text-align: center;
    
}

.texto-bloque-joyas{
    
    margin-left: 30px; 
    margin-right: 30px;
}

.titulo-bloque-joyas{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    color: darkgreen;
}

.anchor-titulo-bloque-joyas{
    text-decoration: none;
    color: var(--color-anchor-titulo-joyas,darkgreen);
    transition: 0.5s ease-in-out;
}

.anchor-titulo-bloque-joyas:hover{
    color:rgb(11, 163, 11) ;

}
/* End Joyas */





/* BANNER OCTUBRE*/
#banner-octubre{
    width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
}

#banner-octubre img{
    width: 50%;
    object-fit: cover;

}

.octubre-huignanco{
    text-align: left;
   width: 50%;
    padding: 20px;
    
    background-color:  var(--background-color-octubre ,#272727 );  
    color:floralwhite;
}

.btn-octubre-conocemas{
    text-decoration: none;
    color: floralwhite;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
        transition: 0.5s;
        text-align: center;
        border: 2px solid floralwhite;
        

}
.btn-octubre-conocemas:hover{
   color: var(--greenhover);
    border-color: var(--greenhover);

}

.octubre-huignanco p{
     margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px; 
}


/* DEJA TU COMENTARIO */

.ctn-comentario{
        display: flex;
        align-items: center;
        justify-content: center;
    height: 80px;
        flex-direction: column;
    color: var(--color-huignanco);
    margin-bottom: 20px;
 
}


.titulo-comentario{
 font-size: 30px;
}

.form
{ 
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    height: 300px;
    gap: 10px;
}

.ctn-form{
               
    width: 50%; /* 800px */
    height: 280px;
    margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    
}

.ctn-input{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.form-input{
    width: 48%;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1em;
    padding-left: 10px;
    transition: 0.5s;
}
.form-input::placeholder{
    font-size: 1em;
}
.textarea{
  font-size: 1em;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-top: 5px;
  resize: none;
  transition: 0.2s;
}

.textarea::placeholder{
    font-size: 1em;
    font-weight: 500;
}

.btn-enviar{
    width: 100%;
    background-color: rgb(103, 168, 54);
    color: white;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.2s;
        border: 0;
        border-radius: 3px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 1em;
        cursor: pointer;
}

.btn-enviar:hover{
    background-color:rgb(125, 196, 70) ;
}
/* End Comentario */





/* FOOTER */
footer{
    width: 100%;
    height: 300px;
    background-color: rgb(39, 39, 39);
}

        .footer-cnt{
            display: flex;
            align-items: center;
            justify-content: start;
            flex-wrap: wrap;
            background-color: rgb(39, 39, 39);
              
                width: 100%;
                flex-direction: row;
        }
.footer-caja{
    
    color: floralwhite;
    padding-left: 5em;

            display: flex;
            align-items: flex-start;
            justify-content: center;
        flex-direction: column;
    padding-top: 3em;
    padding-bottom: 3em;
    gap: 10px;

}
.footer-caja h2{
    color: var(--color-huignanco);
}
.btn-servicios{
    color: floralwhite;
    text-decoration: none;
    font-weight: 600;
             transition: 0.2s;
}
.btn-servicios:hover{
    color: greenyellow;
}
#mail-turismo{
    color: var(--color-huignanco);
    text-decoration: none;
    transition: 0.5s;
    font-size: 16px;
}
#mail-turismo:hover{
    color:greenyellow;
}
.footer-caja-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    width: 100%;
    padding: 1em 1em;
    border-top: rgb(133, 133, 133) 1px solid;
    gap: 1em;
}

.logo-footer{
    width: 2.5em;
    transition: 0.5s linear;
    filter: invert(100%) sepia(0%) saturate(7421%) hue-rotate(127deg) brightness(118%) contrast(96%);
}
.logo-footer:hover{
    filter: invert(59%) sepia(33%) saturate(1004%) hue-rotate(42deg) brightness(97%) contrast(91%);
}
.ctn-rights{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
    background-color: rgb(39, 39, 39);
    color: floralwhite;
}
.ctn-rights p{
    font-size: 12px;
}
/* end Footer */









/* MOBILE */
@media  (max-width:891px)
{

/* HEADER */
.header{
    justify-content: center;
}
.header img{
    margin: 0px;

}

.nav{
    display:none;
}

    /* BANNER */
    .banner{
        justify-content: center;
         height: 21em; 
    }
    .content-banner{
  
        width: 100%;
        margin: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 10px;
        background-position: right;
        background-size: auto;
        
    }
    .content-banner p,.btn-banner{
        display: none;
    }
 
    

/* DESPLEGABLE */
.ctn-dropdown{
   position: absolute;
    left: 10px;

    height: 100%;
            display: inline-block;
}

.btn-dropdown{
    text-decoration: none;
    border: none;
    background: none ;
    color: #659b23;
    font-size: 30px;
    height: 100%;
    cursor: pointer;

}

/* DROPDOWN */
.menu-dropdown{
position: absolute;

height: 100%;
        transform: translate(-300px);
        transition:   0.5s ease-out;

   border:0px ;
   margin: 0;
   gap: 0;

   background-color: white; 
}

.btn-menu-dropdown{
    margin: 0;
      width: 250px;
      padding: 1em 2em 1em 2em;
   text-align: left;
  background-color: var(--mobile-dropdown-background,white);
   color: var(--mobile-dropdown-color,dark);
   border:none ;
   font-weight: 700;
   transition: 0.5s linear ;
        cursor: pointer;

outline-width: 1px;
outline-color:var(--clr-border-dropdown,white) ;
outline-style: solid;
}

.btn-menu-dropdown:hover{
    color: black;
   background-color: #dfffae;

}
.ctn-dropdown >  .btn-dropdown:focus + .menu-dropdown {
transform: translate(-15px);

}

#dark-theme-mobile-btn{
    background-color:  #272727;
    color: white;
}
#dark-theme-mobile-btn:hover{
    background-color:  rgb(154, 190, 94);
    color: black;
}

/* end Desplegable */


    


/* joyas */
.bloque-joyas{
    width: 90%;
    border: 0;
    height: auto;
    padding-bottom: 20px;
    }


        /* FOOTER */
   

        .footer-caja{
            padding-left: 1.5em;
        }
        .ctn-form{
            width: 90%;
        }
        
      
    
    .ctn-rights{
        font-size: 10px;
       }
       

    }