/* -------------------Title-------------------  */
:root {
  --color-huignanco: #75b418;
  --greenhover: #b8ff5c;
  --color-btn-hover: #7dc446;
  --clr-darkGreen-huin: #689f16;
  --clr-sweetRed: #ff6294;
  --clr-sweetRed: #ff629483;
  --clr-sweetBlue: #2596be;

  /* fontSize */
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-25: 25px;
}


/* elimina el estilo del autocomplete */
input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--form-autocomplete-backG) inset !important;
  -webkit-text-fill-color: var(--form-autocomplete-txt);
}

.separador-header {
  height: 3.5em;
}

.ctn-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.title-reserva {
  color: var(--title-color);
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  padding: 0px 20px;
}

/* -------------------Card-------------------  */
.ctn-reserva {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  padding: 20px 20px;
  padding-top: 50px;
}

.card-reserva {
  height: 360px;
  max-width: 300px;
  width: 270px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px var(--card-km-boxShadow);
  display: flex;
  background-color: var(--card-backG);
  align-items: center;
  justify-content: start;
  position: relative;
  flex-direction: column;
}

.km-reserva {
  color: var(--color-blue-huinganco);
  font-size: 55px;
  padding-top: 0px;
  padding-left: 20px;
  font-weight: 500;
  transition: 0.5s;
  border-radius: 50%;
  z-index: 1;
}

.txt-km {
  font-size: 25px;
}

.info-card-reserva {
  text-align: left;
  width: 100%;
  padding: 20px 30px;
  font-weight: 500;
  color: #333;
  gap: 8px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: var(--card-km-txt);
}

.info-card-reserva>p {
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.symbol-info-reserva-yes {
  color: var(--clr-darkGreen-huin);
  font-weight: 700;
}

.symbol-info-reserva-no {
  color: #ff6294;
  font-weight: 700;
}

.div-kmPrecio-line {
  width: 80%;
  height: 1px;
  background-color: #888;
}

.precio-reserva {
  font-size: 22px;
  color: var(--clr-darkGreen-huin);
  font-weight: 500;
}

#precio-reserva-200 {
  font-size: 25px;
  font-weight: 500;
}

.precio-oferta-reserva {
  text-decoration: line-through;
  display: block;
  text-align: center;
  color: rgb(186, 186, 186);
  font-size: 14px;
  height: 1.4em;
  font-weight: 500;
  width: 100%;
  border-radius: 1px 2px 0px 0px;

}

.usd-reserva {

  text-align: center;
  margin-top: 20px;
  color: #75b418;
  width: 5.5em;
  font-size: 25px;
  border-radius: 8px;
  transition: 0.5s;
}

.check-card-reserva {
  border-radius: 5px;
  position: absolute;
  appearance: none;
  transition: 0.2s;
  width: 100%;
  height: 100%;
}

.check-card-reserva:checked {
  outline: 2px solid #d1ff8b;
  box-shadow: 0px 0px 10px #d1ff8b;
}

.check-card-reserva:checked~.usd-reserva {
  color: #d1ff8b;
}

.label-card {
  height: 100%;
  width: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 50;
  border-radius: 8px;
}

/* -------------------DESCUENTOS-------------------  */
.ctn-descuentos {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-weight: 500;
}

.dto-residentes {
  font-size: var(--fs-25);
  color: var(--title-color);
}

.dto-extrangeros {
  color: var(--form-txt-dtochile);
  padding: 0px 20px;
}

/* -------------------FORM-------------------  */
.form-reserva {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.ctn-form-reserva {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: top;
  justify-content: top;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  gap: 20px;
}

.ctn-form-reserva label {
  color: var(--form-label-txt);
}

.ctn-form-doble {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ctn-input {
  width: 48%;
}

.input-form-reserva {
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid var(--form-input-border);
  padding: 9px 8px;
  width: 100%;
  background-color: var(--form-input-backG);
  color: var(--form-input-txt);
  transition: 0.2s;
}

.input-form-reserva:focus-visible {
  outline: 2px solid var(--form-input-border);
  outline-offset: -1px;
}

.input-toolkit {
  position: absolute;
  transform: translateX(10px) translateY(10px);
  color: var(--form-inputToolkit-txt);
  font-weight: 500;
  font-size: 18px;
  pointer-events: none;
  border-radius: 8px;
  height: 18px;
  transition: 0.5s;
  padding: 0px 4px;
}


.input-form-reserva:focus-visible~span,
.input-form-reserva:valid~span {
  font-size: 14px;
  transform: translateX(15px) translateY(-10px);
  color: var(--form-inputToolkit-FOCUS-txt);
  background-color: var(--form-input-backG);
}

/* .input-form-reserva:invalid{
  outline: 2px solid red;
} */
.input-form-reserva:valid {
  outline: 2px solid var(--form-inputToolkit-FOCUS-txt);
}


.input-form-reserva~span span {
  transition: 0.2s;
}

.input-form-reserva:focus-visible~span span,
.input-form-reserva:valid~span span {
  opacity: 0;
  font-size: 0px;
}

#ctn-input-maxWidth {
  width: 100%;
}

/* mail */
#ctn-input-mail {
  width: 100%;
}

#ctn-input-mail ::placeholder {
  color: var(--form-inputToolkit-txt);
  font-weight: 500;
}

/* rights */
.ctn-rights-reserva {
  padding-top: 20px;
}

.radioCheckStyle {
  cursor: pointer;
  appearance: none;
  background-color: rgba(255, 250, 240, 0);
  outline: 2px solid var(--form-right-outline);
  padding: 6px;
  border-radius: 20%;
  transition: 0.2s;
  margin-inline: 5px;
}

.radioCheckStyle:checked {
  outline-offset: 2px;
  background-color: var(--form-right-outline);
  border-radius: 50%;
}

.label-rights {
  cursor: pointer;
  color: var(--form-label-txt);
}

.ctn-celiaco-reserva {
  padding: 10px 0px;
}

/* txt a pagar */

.ctn-cod-totalPagar {
  display: flex;
  width: 100%;
}

.ctn-TotalPagar-Reserva {
  background-color: var(--form-total-backG);
  border-radius: 0px 8px 8px 0px;
  width: 100%;
  border: 3px solid var(--form-total-border-backG);
  display: flex;
  align-items: center;
  justify-content: center;
}

#txtTotalPagar {
  color: #fa73733f;
  font-weight: 500;
  color: floralwhite;
}

#cod-descuento-reserva {
  width: 60%;
  border-radius: 8px 0px 0px 8px;
  outline: 0;
  text-align: center;
  font-weight: 500;
  border: 3px solid var(--form-input-border);
  color: var(--form-input-txt);
  font-size: 18px;
  padding: 9px 8px;
  transition: 0.2s;
  background-color: var(--form-input-backG);
}

#txt-cod-descuento {
  font-weight: 500;
  color: #ff6294;
  height: 10px;
  padding-left: 10px;
  margin: 0;
}

/* submit */
.ctn-submit {
  width: 100%;
  height: 40px;
}

#btn-submit-reserva {
  background-color: #689f16;
  color: floralwhite;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 0.5em 0px;
  transition: 0.2s;
  margin-bottom: 30px;
}

#btn-submit-reserva:hover {
  background-color: var(--color-btn-hover);
}

.radio-celiaco {
  background-color: #67a836;
  padding: 20px;

  border-radius: 3px;
}

/*  */
.required {
  /* simbolo * del form */
  color: #fa7373;
}

/* selectStyle */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select:focus {
  background-image: linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  transition: 0.5s;
}

@media (max-width: 650px) {
  :root {
    --fs-25: 25px;
  }

  .card-reserva {
    width: 80%;
    height: 100%;
    padding-bottom: 80px;
  }

  .ctn-form-doble {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  #nombre-form-reserva {
    width: 100%;
  }

  #apellido-form-reserva {
    width: 100%;
  }

  .ctn-title {
    font-size: 21px;
  }

  .ctn-descuentos {
    font-size: 18px;
  }

  .ctn-label {
    width: 100%;
  }

  .ctn-TotalPagar-Reserva {
    border-radius: 0px 0px 8px 8px;
    height: 40px;
  }

  .ctn-cod-totalPagar {
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #cod-descuento-reserva {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    outline: 0;
    text-align: center;
  }

  #txt-cod-descuento {
    text-align: center;
  }

  .ctn-input {
    width: 100%;
  }
}

.custom-shape-divider-top-1667010598 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1667010598 svg {
  position: relative;
  display: block;
  width: calc(250% + 500px);
  height: 170px;
}

.custom-shape-divider-top-1667010598 .shape-fill {
  fill: var(--card-svg-backG);
}