

.ctn-dropdown{
    position: relative;
}

.btn-dropdown{
padding: 4px 10px 4px 10px;

color: floralwhite;
display: flex;

flex-wrap: wrap;
align-items: center;
justify-content: center;

font-weight: 700;
}

.menu-dropdown{
position: absolute;
opacity: 1;
background-color: white;


width: auto;

flex-direction: column;
display: flex;
align-items: left;
justify-content: center;



}

.btn-menu-dropdown{
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top:10px ;

   text-align: left;
   background-color: white;
   border: 1px solid gray;

   font-weight: 700;

   transition: 0.2s;
}

.btn-menu-dropdown:hover{

    color: green;
   background-color: greenyellow;


}


.ctn-dropdown >  .btn-dropdown:focus + .menu-dropdown {
opacity: 1;
}